@keyframes color {
  0% {
    background: cyan;
  }
  20% {
    background: lime;
  }
  40% {
    background: purple;
  }
  60% {
    background: red;
  }
  80% {
    background: yellow;
  }
  100% {
    background: orange;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, pink 5%, pink 100%);
  animation: color 15s infinite linear;
}

/*For user input fieldset*/
#newGameData {
  margin: 4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to top, black 5%, darkgrey 100%);
}
.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 8em;
  font-family: "Helvetica";
  font-weight: normal;
  color: white;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1px;
}

.card {
  background: black;
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.card-content {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 20px;
  font-family: "Verdana";
  color: #777;
}

.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.card img {
  height: 300px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  text-align: center;
  background-color: #666;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}
